# Gateway Security
JWT_SECRET_KEY=

# ------------- CLUSTER 1 CONFIGURATION --------------------------------

# CLUSTER HOST - Configurazione Profili - Sostituisci ID con un alias per il tuo cluster
CLUSTER_ID_HOST=https://0.0.0.50:6443

# Definiamo quali profili esistono per questo cluster (separati da virgola) - Corrispondono ai Service Account K8s
CLUSTER_ID_PROFILES=admin,manager,dev

# Credenziali Profilo: admin 
CLUSTER_ID_TOKEN_ADMIN= # Token creato per un determinato Service Account K8s
CLUSTER_ID_PASS_ADMIN= # Password a libera scelta

# Credenziali Profilo: manager
CLUSTER_ID_TOKEN_MESSAGING_MGR= 
CLUSTER_ID_PASS_MESSAGING_MGR=

# Credenziali Profilo: dev
CLUSTER_ID_TOKEN_MESSAGING_DEV=
CLUSTER_ID_PASS_MESSAGING_DEV=


# ------------- CLUSTER 2 CONFIGURATION --------------------------------

# CLUSTER HOST - Configurazione Profili - Sostituisci ID con un alias per il tuo cluster
CLUSTER_ID2_HOST=https://0.0.0.55:6443

# Definiamo quali profili esistono per questo cluster (separati da virgola) - Corrispondono ai Service Account K8s
CLUSTER_ID2_PROFILES=admin,dev-ns-1,dev-ns-2

# Credenziali Profilo: admin 
CLUSTER_ID2_TOKEN_ADMIN= # Token creato per un determinato Service Account K8s
CLUSTER_ID2_PASS_ADMIN= # Password a libera scelta

# Credenziali Profilo: manager
CLUSTER_ID2_TOKEN_NAMESPACE_1= 
CLUSTER_ID2_PASS_NAMESPACE_2=

# Credenziali Profilo: dev
CLUSTER_ID2_TOKEN_NAMESPACE_1=
CLUSTER_ID2_PASS_NAMESPACE_2=