# --- Database & Persistence ---
data/
*.db                 # File database SQLite
*.db-journal         # File temp di SQLite

# --- Security & Environment --
.env               
.env.local



# --- Backend / Python ---
__pycache__/
*.py[cod]
*$py.class
backend/tests/       
backend/pytest.ini
backend/debug_factory.py
migrate_encrypt.py 
nginx.conf  

# --- Frontend & UI Assets ---
frontend/favicon.ico
frontend/logo_dashboard.jfif

# --- DevOps & Docker ---
docker-compose.test.yml
.dockerignore        

# --- OS & IDE ---
.DS_Store            # macOS
Thumbs.db            # Windows
.vscode/             # Configurazioni editor
.idea/